.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

form {
  margin-bottom: 2rem;
  max-width: 600px;
  width: 100%;
}

.chart-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chart-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers the pie chart horizontally */
  align-items: center; 
  padding: 1rem;    /* centers vertically when needed */
  min-width: 350px;
  /*padding-left: 2rem;   */   /* pushes from left edge */
  /*max-width: 500px;    */    /* limits width */
  /*position: relative;    */  /* center label positioning */
}

.chart-container {
  width: 100%;
  max-width: 100%;
  height: 50vh;
  position: relative;
  border: 3px solid #000000;
}

.chart-center-label {
  position: absolute;
  top: 48.5%;
  left: 50%; /*controls where the payment number is inside pie chart */
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2rem;
}

.monthly-payment {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

form > div {
  margin-bottom: 6rem; /*Seperates the input boxes so not directly stacked on top of each other */
}

body {
  background-color: #00864F;
  margin: 0;
  font-family: sans-serif;
}

details {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: #333;
}

summary {
  cursor: pointer;
  color: #045f18;
  font-weight: bold;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

button { /*Calculate button*/
  cursor: pointer;
  position: flex;
  background-color: #004b2d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #006644;
}

.contact-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #004b2d;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-button:hover {
  background-color: #006644;
}

.help-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #004b2d;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.help-button:hover {
  background-color: #006644;
}