.chart-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers the pie chart horizontally */
  align-items: center; 
  padding: 1rem;    /* centers vertically when needed */
  min-width: 350px;
  /*padding-left: 2rem;   */   /* pushes from left edge */
  /*max-width: 500px;    */    /* limits width */
  /*position: relative;    */  /* center label positioning */
}

.chart-container {
  position: relative;
  width: 500px;
  height: 350px;
  border: 1px solid #ccc; /*debuggin*/
}

.chart-center-label {
  position: absolute;
  top: 50%;
  left: 32%; /*controls where the payment number is inside pie chart */
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2rem;
}

.monthly-payment {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

form > div {
  margin-bottom: 1rem; /*Seperates the input boxes so not directly stacked on top of each other */
}